.Challenging{
	margin-bottom: 5px;
	width: 100%;
	.title{
		font-size: 18px;
	    color: #000;
	    font-weight: 600;
	    margin-left: 5px;
	}
	.content{
		margin-left: 90px;
	}
	.smileWrap{
		margin: 0 auto;
		text-align: center;
		.smile{
			i{
				color: green!important;
			}
		}
	}
	
}

