.acmicon{
    height: 70px;
    z-index: 999;
    text-align: center;
    margin-top: 5px;
    margin-bottom: -5px;
    /* .scpc{
       img{
           width: 70px;
           height:70px;
            margin-top: 5px;
            position:absolute!important;
       left:40px!important;
       line-height: 80px;
       }
      
      
       }
       .icpc{
      
       img{
         width: 70px;
         height:70px;
         margin-top: 5px;
           position:absolute!important;
       right:40px!important;
       line-height: 80px;
       }
       }
       .logo {
        position:absolute!important;
       left:50%!important;
       transform:translateX(-50%);
       font: 18px/80px bold;
       font-family: 'Brush Script MT';
       border-bottom: none !important;
        font-size: 35px;
        line-height: 80px;
       }  */
       img{
        width: 100%;
        height: 70px;
       }
}
   