.wrapper {
    .header {
        position: relative;
        height: 40px;
        margin-top: 25px;
        color: #999;
        font-size: 20px;
        .searchbar {
            position: absolute;
            top: 0px;
            right: 0px;
            font-size: 10px;
            .wrapper {
                display: table-cell;
                vertical-align: middle;
                .select div {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .btn {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
            .input {
                margin-top: 3px;
                border-right: none;
                border-left: none;
                border-radius: 0;
            }
        }
    }

}