.wrapper {
    //margin-top: 20px;
    .searchBox{
    	margin-bottom: 20px;
	}
	.RankList{
		td{
			padding-top: 8px;
			padding-bottom: 8px;
			img{
				width: 32px;
				height: 32px;
			}
		}
	}
	
	
}
.blue-btn{
	background-color:blue;
}
.white-btn{
	background-color:white;
}
