.wrapper {
    //margin-top: 20px;
    .tabs{
        //margin-top: 20px;
       .searchbox{
            margin-bottom: 20px;
            .select{
                width: 33.3%!important;
            }
        } 
    }
    
    .example-input .ant-input {
  		width: 200px;
  		margin: 0 8px 8px 0;
	}
}
